/*  --------------------RESET CSS-----------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* -----------AFTER STYLE RESET--------- */

/*----- MAIN CONTAINER ----*/
.Main-Container {
    width: 1250px;
    margin: 0 auto;
    background: black;
    color: white;
}

 /*-----HEADER------*/
.Main-Header {
    text-align: center;
    height: 100px;
    line-height: 100px;
    font-size: 40px;
    border-bottom: 1px solid red;
}

/*----MAIN BODY ----*/
.Main-Body {
    display: flex;
    justify-content: space-between;
    height: auto;
}

.Left-Col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;

    max-width: 300px;
    height: 500px;
    border: 1px solid orange;

}

.Center-Col {
    height: 500px;
    flex-grow: 3;
    border: 1px solid orange;
    background-color: white;
    background-image: url("../images/main-image.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

.Right-Col {
    position: relative;
    height: 500px;
    max-width: 300px;
    border: 1px solid orange;


    flex-grow: 1;
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    align-items: center;
    overflow: auto;
}

/*----LEFT COLUMN ELEMENTS----*/
.Click-Image {
    border-bottom: 1px solid red;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Click-Button {
    width: 80%;
    height: 80%;
    padding: 5px;
    border: 1px solid orangered;
    border-radius: 15%;
    background: black;
    /*display: flex;*/
    /*text-align: center;*/
    /*align-items: center;*/
}
.Click-Button:hover {
    font-size: 110%;
}
.Stats {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

/*----RIGHT COLUMN ELEMENTS----*/

.Header-Workforce {
    position: absolute;
    font-size: 20px;
    text-transform: uppercase;
    height: 1.5em;
    line-height: 1.4em;
}
#space {
    min-height: 100px;
}
#worker1 {
    border: 2px solid orange;
    border-radius: 25%;
    width: 250px;
    text-align: center;
    min-height: 100px;
}

#worker2 {
    border: 2px solid orange;
    border-radius: 25%;
    width: 250px;
    text-align: center;
    min-height: 100px;
}

#worker3 {
    border: 2px solid orange;
    border-radius: 25%;
    width: 250px;
    text-align: center;
    min-height: 100px;
}

#worker4 {
    border: 2px solid orange;
    border-radius: 25%;
    width: 250px;
    text-align: center;
    min-height: 100px;
}

#worker5 {
    border: 2px solid orange;
    border-radius: 25%;
    width: 250px;
    text-align: center;
    min-height: 100px;
}

#worker6 {
    border: 2px solid orange;
    border-radius: 25%;
    width: 250px;
    text-align: center;
    min-height: 100px;
}

#worker8 {
    border: 2px solid orange;
    border-radius: 25%;
    width: 250px;
    text-align: center;
    min-height: 100px;
}

#worker9 {
    border: 2px solid orange;
    border-radius: 25%;
    width: 250px;
    text-align: center;
    min-height: 100px;
}

#worker10 {
    border: 2px solid orange;
    border-radius: 25%;
    width: 250px;
    text-align: center;
    min-height: 100px;
}

#worker11 {
    border: 2px solid orange;
    border-radius: 25%;
    width: 250px;
    text-align: center;
    min-height: 100px;
}

#worker12 {
    border: 2px solid orange;
    border-radius: 25%;
    width: 250px;
    text-align: center;
    min-height: 100px;
}

#worker13 {
    border: 2px solid orange;
    border-radius: 25%;
    width: 250px;
    text-align: center;
    min-height: 100px;
}

#worker14 {
    border: 2px solid orange;
    border-radius: 25%;
    width: 250px;
    text-align: center;
    min-height: 100px;
}

#worker15 {
    border: 2px solid orange;
    border-radius: 25%;
    width: 250px;
    text-align: center;
    min-height: 100px;
}

#worker16 {
    border: 2px solid orange;
    border-radius: 25%;
    width: 250px;
    text-align: center;
    min-height: 100px;
}
#worker17 {
    border: 2px solid orange;
    border-radius: 25%;
    width: 250px;
    text-align: center;
    min-height: 100px;
}
#worker18 {
    border: 2px solid orange;
    border-radius: 25%;
    width: 250px;
    text-align: center;
    min-height: 100px;
}