/*  --------------------RESET CSS-----------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* -----------AFTER STYLE RESET--------- */

body {
    background: black;
    background: url("../images/main-background.jpg");
    background-size: contain;
    /*background: repeating-radial-gradient(black, darkgreen 15%, black 35%);;*/
}

/*----- MAIN CONTAINER ----*/
.Main-Container {
    width: 1250px;
    height: auto;
    margin: 0 auto;
    background: black;
    color: white;
}

/*-----HEADER------*/
.Main-Header {
    height: 100px;
    line-height: 100px;
    background: url('../images/header-image.jpg') left no-repeat;
    background-size: 350px;
    border-bottom: 15px black solid;
}

.Main-Header > h1 {
    text-align: center;
    text-transform: uppercase;
    height: 100px;
    line-height: 150px;
    font-size: 50px;
    font-weight: 900;
}

.Main-Header > h1 > span {
    background: black;
}

/*----MAIN BODY ----*/
.Main-Body {
    display: flex;
    justify-content: space-between;
    height: auto;
    border: 1px solid green;
}

.Left-Col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;

    max-width: 300px;
    height: 500px;

}

.Center-Col {
    flex-grow: 3;
    background: url("../images/main-image2.jpg") no-repeat;
    background-size: cover;
}

.Right-Col {
    height: 500px;
    max-width: 300px;
    background: linear-gradient(to right, black, darkgreen);

    flex-grow: 1;
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    align-items: center;
    overflow: auto;
}

/*----LEFT COLUMN ELEMENTS----*/
.Click-Image {
    border-bottom: 3px dotted black;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Click-Button {
    width: 80%;
    height: 80%;
    padding: 5px;
    border: 1px solid orange;
    border-radius: 15%;
    background: black;
}

.Click-Button:hover {
    font-size: 110%;
    color: lime;
}

.Stats {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.Stats > div:nth-child(2n-1):hover {
    color: lime;
    font-size: 120%;
}

/*----RIGHT COLUMN ELEMENTS----*/

.Header-Workforce {
    position: absolute;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    height: 1.5em;
    width: 20%;
    line-height: 1.4em;
    background: black;
}

#space {
    min-height: 50px;
    background: black;
}

.names {
    color: lime;
    font-weight: 700;
    font-size: 16px;
}

.info {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

#worker1 {
    margin: 15px;
    border: 1px solid yellow;
    background: url("../images/p1.png") no-repeat center;
    background-size: contain;
    width: 250px;
    text-align: center;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#worker2 {
    margin: 15px;
    border: 1px solid yellow;
    background: url("../images/p2.png") no-repeat center;
    background-size: contain;
    width: 250px;
    text-align: center;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#worker3 {
    margin: 15px;
    border: 1px solid yellow;
    background: url("../images/p4.png") no-repeat center;
    background-size: contain;
    width: 250px;
    text-align: center;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#worker4 {
    margin: 15px;
    border: 1px solid yellow;
    background: url("../images/p5.png") no-repeat center;
    background-size: contain;
    width: 250px;
    text-align: center;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#worker5 {
    margin: 15px;
    border: 1px solid yellow;
    background: url("../images/p8.png") no-repeat center;
    background-size: contain;
    width: 250px;
    text-align: center;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#worker6 {
    margin: 15px;
    border: 1px solid yellow;
    background: url("../images/p17.svg") no-repeat center;
    background-size: contain;
    width: 250px;
    text-align: center;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#worker7 {
    margin: 15px;
    border: 1px solid yellow;
    background: url("../images/p18.png") no-repeat center;
    background-size: contain;
    width: 250px;
    text-align: center;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#worker8 {
    margin: 15px;
    border: 1px solid yellow;
    background: url("../images/p19.png") no-repeat center;
    background-size: contain;
    width: 250px;
    text-align: center;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#worker9 {
    margin: 15px;
    border: 1px solid yellow;
    background: url("../images/p20.png") no-repeat center;
    background-size: contain;
    width: 250px;
    text-align: center;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#worker10 {
    margin: 15px;
    border: 1px solid yellow;
    background: url("../images/p23.png") no-repeat center;
    background-size: contain;
    width: 250px;
    text-align: center;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#worker11 {
    margin: 15px;
    border: 1px solid yellow;
    background: url("../images/p22.svg") no-repeat center;
    background-size: contain;
    width: 250px;
    text-align: center;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#worker12 {
    margin: 15px;
    border: 1px solid yellow;
    background: url("../images/p24.png") no-repeat center;
    background-size: contain;
    width: 250px;
    text-align: center;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#worker13 {
    margin: 15px;
    border: 1px solid yellow;
    background: url("../images/p25.png") no-repeat center;
    background-size: contain;
    width: 250px;
    text-align: center;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#worker14 {
    margin: 15px;
    border: 1px solid yellow;
    background: url("../images/p26.png") no-repeat center;
    background-size: contain;
    width: 250px;
    text-align: center;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#worker15 {
    margin: 15px;
    border: 1px solid yellow;
    background: url("../images/p27.png") no-repeat center;
    background-size: contain;
    width: 250px;
    text-align: center;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#worker16 {
    margin: 15px;
    border: 1px solid yellow;
    background: url("../images/p28.png") no-repeat center;
    background-size: contain;
    width: 250px;
    text-align: center;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#worker17 {
    margin: 15px;
    border: 1px solid yellow;
    background: url("../images/p29.png") no-repeat center;
    background-size: contain;
    width: 250px;
    text-align: center;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#worker18 {
    margin: 15px;
    border: 1px solid yellow;
    background: url("../images/gaben.png") no-repeat center;
    background-size: contain;
    width: 250px;
    text-align: center;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#worker18image {
    color: red;
}

#worker14image {
    color: red;
}

/*CENTER COLUMN FEET*/

.feet {
    position: absolute;
    height: 50px;
    width: 50px;
}

@keyframes moveWorkerOne {
    0% {
        opacity: 0;
    }
    10% {
        top: 30px;
        left: 67px;
        transform:rotate(300deg);
    }
    100% {
        opacity: 0.5;
        top: 450px;
        left: 910px;
        transform:rotate(410deg);
    }
}

@keyframes moveWorkerTwo {
    0% {
        opacity: 0;
    }
    10% {
        top: 30px;
        left: 67px;
    }
    100% {
        opacity: 0.5;
        top: 480px;
        left: 870px;
        transform:rotate(200deg);
    }
}

@keyframes moveWorkerThree {
    0% {
        opacity: 0;
    }
    10% {
        top: 30px;
        left: 67px;
        transform:rotate(100deg);
    }
    100% {
        opacity: 0.5;
        top: 300px;
        left: 670px;
        transform:rotate(1000deg);
    }
}

@keyframes moveWorkerFour {
    0% {
        opacity: 0;
    }
    10% {
        top: 30px;
        left: 67px;
    }
    100% {
        opacity: 0.5;
        top: 280px;
        left: 720px;
        transform:rotate(2000deg);
    }
}

@keyframes moveWorkerFive {
    0% {
        opacity: 0;
    }
    10% {
        top: 30px;
        left: 67px;
    }
    100% {
        opacity: 0.5;
        top: 280px;
        left: 540px;
        transform:rotate(40deg);
    }
}

@keyframes moveWorkerSix {
    0% {
        opacity: 0;
    }
    10% {
        top: 30px;
        left: 67px;
    }
    100% {
        opacity: 0.5;
        top: 320px;
        left: 590px;
        transform:rotate(400deg);
    }
}

@keyframes moveWorkerSeven {
    0% {
        opacity: 0;
    }
    10% {
        top: 30px;
        left: 67px;
    }
    100% {
        opacity: 0.4;
        top: 160px;
        left: 533px;
        transform:rotate(500deg);
    }
}

@keyframes moveWorkerEight {
    0% {
        opacity: 0;
    }
    10% {
        top: 30px;
        left: 67px;
    }
    100% {
        opacity: 0.4;
        top: 170px;
        left: 680px;
        transform:rotate(250deg);
    }
}

@keyframes moveWorkerNine {
    0% {
        opacity: 0;
    }
    10% {
        top: 300px;
        left: 67px;
    }
    100% {
        opacity: 0.4;
        top: 200px;
        left: 590px;
        transform:rotate(700deg);
    }
}

@keyframes moveWorkerTen {
    0% {
        opacity: 0;
    }
    10% {
        top: 30px;
        left: 67px;
    }
    100% {
        opacity: 0.6;
        top: 160px;
        left: 390px;
        transform:rotate(600deg);
    }
}

@keyframes moveWorkerEleven {
    0% {
        opacity: 0;
    }
    10% {
        top: 30px;
        left: 67px;
    }
    100% {
        opacity: 0.4;
        top: 210px;
        left: 350px;
        transform:rotate(260deg);
    }
}

@keyframes moveWorkerTwelve {
    0% {
        opacity: 0;
    }
    10% {
        top: 130px;
        left: 267px;
    }
    100% {
        opacity: 0.4;
        top: 450px;
        left: 350px;
        transform:rotate(220deg);
    }
}

@keyframes moveWorkerThirteen {
    0% {
        opacity: 0;
    }
    10% {
        top: 530px;
        left: 367px;
    }
    100% {
        opacity: 0.4;
        top: 300px;
        left: 380px;
    }
}
@keyframes moveWorkerFourteen {
    0% {
        opacity: 0;
    }
    10% {
        top: 130px;
        left: 967px;
    }
    100% {
        opacity: 0.4;
        top: 350px;
        left: 350px;

        transform:rotate(700deg);
    }
}
@keyframes moveWorkerFifteen {
    0% {
        opacity: 0;
    }
    10% {
        top: 60px;
        left: 467px;
    }
    100% {
        opacity: 0.4;
        top: 330px;
        left: 880px;
    }
}
@keyframes moveWorkerSixteen {
    0% {
        opacity: 0;
    }
    10% {
        top: 10px;
        left: 1167px;
    }
    100% {
        opacity: 0.4;
        top: 170px;
        left: 910px;
        transform:rotate(800deg);
    }
}
@keyframes moveWorkerSeventeen {
    0% {
        opacity: 0;
    }
    10% {
        top: 60px;
        left: 167px;
    }
    100% {
        opacity: 0.4;
        top: 200px;
        left: 870px;
    }
}
@keyframes moveWorkerEighteen {
    0% {
        opacity: 0;
        transform:rotate(0deg);
    }
    10% {
        top: 430px;
        left: 97px;
        transform:rotate(360deg);
    }
    100% {
        opacity: 0.8;
        top: 400px;
        left: 580px;
        transform:rotate(3600deg);
    }
}


.showFeet1 {
    background: url("../images/feet1.png");
    background-size: cover;
    animation-name: moveWorkerOne;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}
.showFeet2 {
    background: url("../images/feet2.png");
    background-size: cover;
    animation-name: moveWorkerTwo;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}
.showFeet3 {
    background: url("../images/feet3.png");
    background-size: cover;
    animation-name: moveWorkerThree;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}
.showFeet4 {
    background: url("../images/feet4.png");
    background-size: cover;
    animation-name: moveWorkerFour;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}
.showFeet5 {
    background: url("../images/feet5.png");
    background-size: cover;
    animation-name: moveWorkerFive;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}
.showFeet6 {
    background: url("../images/feet6.png");
    background-size: cover;
    animation-name: moveWorkerSix;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}
.showFeet7 {
    background: url("../images/feet7.png");
    background-size: cover;
    animation-name: moveWorkerSeven;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}
.showFeet8 {
    background: url("../images/feet8.png");
    background-size: cover;
    animation-name: moveWorkerEight;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}
.showFeet9 {
    background: url("../images/feet9.png");
    background-size: cover;
    animation-name: moveWorkerNine;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}
.showFeet10 {
    background: url("../images/feet10.png");
    background-size: cover;
    animation-name: moveWorkerTen;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}
.showFeet11 {
    background: url("../images/feet11.png");
    background-size: cover;
    animation-name: moveWorkerEleven;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

.showFeet12 {
    background: url("../images/feet12.png");
    background-size: cover;
    animation-name: moveWorkerTwelve;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}
.showFeet13 {
    background: url("../images/feet13.png");
    background-size: cover;
    animation-name: moveWorkerThirteen;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}
.showFeet14 {
    background: url("../images/feet14.png");
    background-size: cover;
    animation-name: moveWorkerFourteen;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}
.showFeet15 {
    background: url("../images/feet15.png");
    background-size: cover;
    animation-name: moveWorkerFifteen;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}
.showFeet16 {
    background: url("../images/feet16.png");
    background-size: cover;
    animation-name: moveWorkerSixteen;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}
.showFeet17 {
    background: url("../images/feet17.png");
    background-size: cover;
    animation-name: moveWorkerSeventeen;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}
.showFeet18 {
    height: 150px;
    width: 150px;
    background: url("../images/gaben.png");
    background-size: cover;
    animation-name: moveWorkerEighteen;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}