/*  --------------------RESET CSS-----------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* -----------AFTER STYLE RESET--------- */

body {
    background: black;
    background: url("../images/main-background.jpg");
    background-size: contain;
    /*background: repeating-radial-gradient(black, darkgreen 15%, black 35%);;*/
}

/*----- MAIN CONTAINER ----*/
.Main-Container {
    width: 1250px;
    margin: 0 auto;
    background: black;
    color: white;
}

 /*-----HEADER------*/
.Main-Header {
    height: 100px;
    line-height: 100px;
    background: url('../images/header-image.jpg') left no-repeat;
    background-size: 350px;
    border-bottom: 15px black solid;
}
.Main-Header > h1 {
    text-align: center;
    text-transform: uppercase;
    height: 100px;
    line-height: 150px;
    font-size: 50px;
    font-weight: 900;
}
.Main-Header > h1> span {
    background: black;
}

/*----MAIN BODY ----*/
.Main-Body {
    display: flex;
    justify-content: space-between;
    height: auto;
    border: 1px solid green;
}

.Left-Col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;

    max-width: 300px;
    height: 500px;

}

.Center-Col {
    height: auto;
    flex-grow: 3;
    background: white;
    background-image: url("../images/main-image.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

.Right-Col {
    height: 500px;
    max-width: 300px;
    background: linear-gradient(to right, black, darkgreen);

    flex-grow: 1;
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    align-items: center;
    overflow: auto;
}

/*----LEFT COLUMN ELEMENTS----*/
.Click-Image {
    border-bottom: 3px dotted black;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Click-Button {
    width: 80%;
    height: 80%;
    padding: 5px;
    border: 1px solid orange;
    border-radius: 15%;
    background: black;
    /*display: flex;*/
    /*text-align: center;*/
    /*align-items: center;*/
}
.Click-Button:hover {
    font-size: 110%;
}
.Stats {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

/*----RIGHT COLUMN ELEMENTS----*/

.Header-Workforce {
    position: absolute;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    height: 1.5em;
    width: 20%;
    line-height: 1.4em;
    background: black;
}
#space {
    min-height: 50px;
    background: black;
}

.info {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

#worker1 {
    margin: 15px;
    border: 1px solid yellow;
    background: url("../images/p1.png") no-repeat center;
    background-size: contain;
    width: 250px;
    text-align: center;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#worker2 {
    margin: 15px;
    border: 1px solid yellow;
    background: url("../images/p2.png") no-repeat center;
    background-size: contain;
    width: 250px;
    text-align: center;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#worker3 {
    margin: 15px;
    border: 1px solid yellow;
    background: url("../images/p4.png") no-repeat center;
    background-size: contain;
    width: 250px;
    text-align: center;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#worker4 {
    margin: 15px;
    border: 1px solid yellow;
    background: url("../images/p5.png") no-repeat center;
    background-size: contain;
    width: 250px;
    text-align: center;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#worker5 {
    margin: 15px;
    border: 1px solid yellow;
    background: url("../images/p8.png") no-repeat center;
    background-size: contain;
    width: 250px;
    text-align: center;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#worker6 {
    margin: 15px;
    border: 1px solid yellow;
    background: url("../images/p17.svg") no-repeat center;
    background-size: contain;
    width: 250px;
    text-align: center;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#worker7 {
    margin: 15px;
    border: 1px solid yellow;
    background: url("../images/p18.png") no-repeat center;
    background-size: contain;
    width: 250px;
    text-align: center;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#worker8 {
    margin: 15px;
    border: 1px solid yellow;
    background: url("../images/p19.png") no-repeat center;
    background-size: contain;
    width: 250px;
    text-align: center;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#worker9 {
    margin: 15px;
    border: 1px solid yellow;
    background: url("../images/p20.png") no-repeat center;
    background-size: contain;
    width: 250px;
    text-align: center;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#worker10 {
    margin: 15px;
    border: 1px solid yellow;
    background: url("../images/p23.png") no-repeat center;
    background-size: contain;
    width: 250px;
    text-align: center;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#worker11 {
    margin: 15px;
    border: 1px solid yellow;
    background: url("../images/p22.svg") no-repeat center;
    background-size: contain;
    width: 250px;
    text-align: center;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#worker12 {
    margin: 15px;
    border: 1px solid yellow;
    background: url("../images/p24.png") no-repeat center;
    background-size: contain;
    width: 250px;
    text-align: center;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#worker13 {
    margin: 15px;
    border: 1px solid yellow;
    background: url("../images/p25.png") no-repeat center;
    background-size: contain;
    width: 250px;
    text-align: center;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#worker14 {
    margin: 15px;
    border: 1px solid yellow;
    background: url("../images/p26.png") no-repeat center;
    background-size: contain;
    width: 250px;
    text-align: center;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#worker15 {
    margin: 15px;
    border: 1px solid yellow;
    background: url("../images/p27.png") no-repeat center;
    background-size: contain;
    width: 250px;
    text-align: center;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#worker16 {
    margin: 15px;
    border: 1px solid yellow;
    background: url("../images/p28.png") no-repeat center;
    background-size: contain;
    width: 250px;
    text-align: center;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
#worker17 {
    margin: 15px;
    border: 1px solid yellow;
    background: url("../images/p29.png") no-repeat center;
    background-size: contain;
    width: 250px;
    text-align: center;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
#worker18 {
    margin: 15px;
    border: 1px solid yellow;
    background: url("../images/gaben.png") no-repeat center;
    background-size: contain;
    width: 250px;
    text-align: center;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
